{% extends 'base.html' %}

{% block content %}
<!-- Grid row -->
<div class="row d-flex justify-content-center align-items-center">

    <!-- Grid column -->
    <div class="col-md-8 col-lg-8 ma-4">
    
        <!--Card-->
        <div class="card">
    
            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title  text-danger">Payment Failed. Something Went Wrong</h4>
                <!--Text-->
                <p class="card-text">Your Money will be credited back to your account within 24 hours, incase of deduction.</p>
                <a href="#" class="btn btn-danger">Contact Us?</a>
            </div>
        
        </div>
        <!--/.Card-->
    
    </div>
    <!-- Grid column -->
</div>
<!-- Grid row -->
{% endblock %}