<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="card col-lg-10 my-4">
    {% if user.is_authenticated %}
      <h2>Hi.. {% if user.username %}{{user.username}}{% else %} {{user.email}}{% endif %}</h2>
      <p><a href="{% url 'accounts:logout' %}">logout</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'accounts:login' %}">login</a>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}