{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <form class="text-center border border-light p-5" name="login-form" method="POST">
    {% csrf_token %}

    {{ form.as_p }}
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    
  </form>
  <a href="{% url 'accounts:password_reset' %}">Forgot password?</a>
  </div>
  </div>

  <!-- Sign in button -->

  <!-- Register -->
  <p>Not a member?
  <a href="{% url 'accounts:signup' %}">Register</a>
  </p>

  <!-- Social login -->
  <p>or sign in with:</p>

  <a type="button" class="light-blue-text mx-2">
  <i class="fab fa-facebook-f"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
  <i class="fab fa-twitter"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
  <i class="fab fa-linkedin-in"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
  <i class="fab fa-github"></i>
  </a>
<!-- Default form register -->
{% endblock %}