<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<p class="h4 mb-4 text-center">Forgot Password?</p>
<form class="border border-light p-5" method="POST">
  {% csrf_token %}
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" name="email" placeholder="E-mail">
  <button class="btn btn-info btn-block my-4" type="submit">Send me instructions!</button>
</form>
    <div class="text-center">
      <p>Not a member?
      <a href="{% url 'accounts:signup' %}">Register</a>
      </p>
  
      <p>Already registered:
      <a type="button" class="light-blue-text mx-2" href="{% url 'accounts:login' %}">
        login
      </a>
      </p>
    </div>
{% endblock %}